<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>
<!-- start preloader -->
<div class="preloader">
    <div class="sk-spinner sk-spinner-rotating-plane"></div>
</div>
<!-- end preloader -->

{% include navigation.html %}

{{ content }}

<!-- start contact -->
<section id="contact">
    <div class="overlay">
        <div class="container">
            <div class="row">
                <div class="col-md-6 wow fadeInUp" data-wow-delay="0.6s">
                    <h2 class="text-uppercase">Contact Us</h2>

                    <p>Would you like to discuss how Kagesoft can help with your enterprise software needs?</p>

                    <p>Fill out this form and you’ll hear back from us within 24 hours</p>
                    <address>
                        <p><i class="fa fa-map-marker"></i>Palm Harbor, Florida, United States</p>

                        <!--<p><i class="fa fa-phone"></i> 813 7488984 / 813 7488984</p>-->

                        <p><i class="fa fa-envelope-o"></i> contact@kagesoft.com</p>
                    </address>
                </div>
                <div class="col-md-6 wow fadeInUp" data-wow-delay="0.6s">
                    <div class="contact-form">
                        <form id="contactform" method="post">
                            <div class="col-md-6">
                                <input type="text" class="form-control" name="name" placeholder="Name">
                            </div>
                            <div class="col-md-6">
                                <input type="email" class="form-control" name="email" placeholder="Email">
                            </div>
                            <div class="col-md-12">
                                <input type="text" class="form-control" name="subject" placeholder="Subject">
                            </div>
                            <div class="col-md-12">
                                <textarea class="form-control" name="message" placeholder="Message" rows="4" required></textarea>
                            </div>
                            <div class="col-md-8">
                                <input type="submit" class="form-control text-uppercase" value="Send">
                            </div>
                            <input id="location" type="hidden" name="_next" value="" />
                            <input type="text" name="_gotcha" style="display:none" />
                        </form>
                        <script>
                            var contactform =  document.getElementById('contactform');
                            contactform.setAttribute('action', '//formspree.io/' + 'contact' + '@' + 'kagesoft' + '.' + 'com');
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end contact -->

{% include footer.html %}

<script src="js/jquery.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/wow.min.js"></script>
<script src="js/parallax.min.js"></script>
<script src="js/custom.js"></script>
</body>
</html>